.namecss {
  color: orange;
  float: left;
}

a {
  color: orange;
}

.signBtn {
  position: absolute !important;
  right: 7%;
}

.page-top {
  margin-bottom: 0;
}

.signupBtn {
  position: absolute !important;
  right: 2%;
}

.signupinside {
  right: 10%;
}
